<h1>I-Team: The stories behind the investigations</h1>

<div id="kn_intro">
	<p>Every investigation has a story behind it. Explore Some of our best work, and what we did to get the information to you, in the cards below.</p>
	<p>Click on "HOW WE GOT IT" for more information on the investigation.</p>
</div>

<div id="kn_related">
	<p><strong>MORE FROM THE I-TEAM</strong></p>
	<p>
		<strong>
			&raquo; <a href="http://www.mydaytondailynews.com/data/news/payroll-project/" target="_blank">I-Team Payroll Project: Search salaries for area cities and public institutions</a><br>
			&raquo; <a href="http://www.mydaytondailynews.com/news/investigations-that-show-why-public-records-are-important/wl1wIJ1P58SZJMg8xuCIeJ/" target="_blank">11 investigations that show why public records are so important</a>
		</strong>
	</p>
</div>

<div id="kn_body">
	
	<div id="kn_view"></div>

</div>